*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding: 10px 0;
}
.draw-board{
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.child{
    height: 60px;
    width: 60px;
    border: 1px solid black;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

}
.colors{
    color: rgb(19, 165, 78);
    font-size: 20px;
    background-color: rgb(229, 233, 235);
    border-radius: 5px;
    padding: 6px;
}
